<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <button><a style="text-decoration:none; color: inherit;" href="{% url 'signup' %}">Sign Up</a></button>
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>

    </form>
{% endblock content %}
