{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<main class="d-flex align-items-center min-vh-100 py-3 py-md-0" style="background-color:#e0e0de;">
    <div class="container">
        <div class="card login-card slide-in-bck-tl">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="https://images.unsplash.com/photo-1557996133-ee6d20a488fc?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="../../static/assets/logo/logo.png" alt="logo" class="logo">
                        </div>
                        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {{ form | crispy }}

                            
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button type="submit" class="btn btn-block login-btn primaryAction mt-4">{% trans "Sign Up" %}</button>
                            <hr class="my-4">
                        </form>
                        {% include "allauth/social_login.html" %}
                        <a href="{% url 'account_reset_password' %}" class="button secondaryAction forgot-password-link" >{% trans "Forgot Password?" %}</a><br>
                        <p class="font-weight-light">{% blocktrans %}Already have an account? 
                            <a class="text-reset" href="{{ login_url }}"><u>Log in</u></a>.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}