<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BookOMate</title>

        <!-- Boostrap 4 CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/189832a678.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
        {% block stylesheets %}
        <!-- Specific CSS goes HERE -->
        {% endblock stylesheets %}
    </head>

    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "includes/footer.html" %}
        {% include "includes/scripts.html" %}
        {% block javascripts %}
        <!-- Specific JS goes HERE -->
        {% endblock javascripts %}
    </body>
</html>