<!-- templates/home.html -->
{% extends "base.html" %}
{% load socialaccount %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "includes/navbar.html" %}
        <div class="section">
            <div class="container col-9" style="margin-top: 5em">
                <h2>Welcome, {{ user.username }}</h2>
                <p>Place calendar/actions here!!</p>
            </div>
        </div>
    {% else %}
        {% include "includes/navbar-landing.html" %}
        {% include "includes/landing.html" %}
    {% endif %}
{% endblock content %}
