{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% include "includes/navbar.html" %}
        <div class="container" style="margin-top: 5em">
            <h2>Welcome, {{ user.username }}</h2>
            <p>Place calendar/actions here!!</p>
        </div>
    {% else %}
        {% include "includes/navbar-landing.html" %}
        {% include "includes/landing.html" %}
    {% endif %}
{% endblock content %}
