<!-- Footer -->
<footer class="bg-light">
    <div class="container">
        <div class="row py-4 d-flex align-items-center">

            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0">Some nice statement here about our app.</h6>
            </div>

            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <!-- Twitter -->
                <a class="tw-ic"><i class="fab fa-github white-text mr-4"> </i></a>
                <!--Linkedin -->
                <a class="li-ic"><i class="fab fa-linkedin-in white-text mr-4"> </i></a>
                <!--Instagram-->
                <a class="ins-ic"><i class="fab fa-twitter white-text"> </i></a>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-dark text-muted">© 2020 Copyright:
        <a href="https://github.com/Bookomate/bookomate">BookOMate</a>
    </div>
</footer>
