<!-- Footer -->
<footer class="bg-black">
    <div class="container">
        <div class="row py-3 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 text-center text-md-left text-muted ">
                <img src="../../static/assets/logo/logo_dark.png" href="https://github.com/Bookomate/bookomate" width="150"><small class="text- align-middle">©2020</small>         
            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-right text-white">
                <a><i class="fab fa-github mr-3"> </i></a>
                <a><i class="fab fa-linkedin-in mr-3"> </i></a>
                <a><i class="fab fa-twitter"> </i></a>
            </div>
        </div>
    </div>
</footer>
