{% load static %}

<!-- Landing page for user acquisition -->
<div class="section call-to-action" id="home">
    <div class="row col-9 mx-auto">
        <!-- some background overlay here -->
        <div class="overlay"></div> 
        <div class="container-fluid px-0">
            <div class="text mt-5 slide-in-bck-tl">
                <span class="subheading ">BookOmate</span>
                <h1>Why Bookomate</h1>
                <p>BookOmate is always going to be a free and Open-Source project<br> It
                    is constantly getting new updates from many developers and quick bug fixes. <br> Join now.</p>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="btn btn-outline-info text-info mr-3 px-4" role="button"
                        href="{% url 'account_login' %}">Login</a>
                    <a class="btn btn-info text-white px-3" role="button" href="{% url 'account_signup' %}">Sign
                        up</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="section quick-stats">
    <div class="container col-9 text-center ">
        <div class="row ">
            <div class="card col-sm py-4 m-2 slide-in-bottom">
                <h3 class="card-title">7</h3>
                <p class="font-weight-light">Users</p>
            </div>
            <div class="card col-sm py-4 m-2 slide-in-bottom">
                <h3 class="card-title">0</h4>
                <p class="font-weight-light">Bookings</p>
            </div>
            <div class="card col-sm py-4 m-2 slide-in-bottom">
                <h3 class="card-title">0</h4>
                <p class="font-weight-light">Donations</p>
            </div>
            <div class="card col-sm py-4 m-2 slide-in-bottom">
                <h3 class="card-title">7</h3>
                <p class="font-weight-light">Contributors</p>
            </div>
        </div>
    </div>
</div>


<div class="section about" id="about">
    <div class="container col-9">
        <div class="row d-flex no-gutters ">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="margin: 0px -10em;">
                        <img src="https://raw.githubusercontent.com/BrianRuizy/bookomate/master/bookomate/static/assets/logo/logo.png" width="650">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12">
                        <div class="text-about">
                            <h3>How It Started</h4>
                            <p>The project was first came about by Kalle Hallden. He tried to start a Open-Source Project to build a meeting
                                app. This project never took off. Then we started Bookomate after Kalle Bookomatic. 
                                Ever since we kept build on the idea of an open source meeting app.</p>
                            <h4>Our End Goal</h4>
                            <p>Are end goal is to create a fully functioning meeting app that is open source and free to all.</p>
                            <h4>Something Else</h4>
                            <p>Everyone is allowed to help build up this website to be the best. We do not track you, or mine your data.
                                We believe in privacy and security</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section Features" id="features">
    <div class="container col-9">
        <div class="row d-flex no-gutters ">
            <div class="col-md-6 col-lg-6 pl-md-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12">
                        <div class="text-about">
                            <h2><b>Features</b></h3>
                            <h4>Creating Meetings with others</h4>
                            <p>You can create a meeting with another person and the can accept, decline and change the date.</p>
                            <h4>Feature 2</h4>
                            <p>Develop a cool feature</p>
                            <h4>Feature 3</h4>
                            <p>Develop a cool feature</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="margin: 0px -10em;">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.placeit.net%2Fwp-content%2Fuploads%2F2015%2F05%2Fiphone-mockup.png&f=1&nofb=1" width="650">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section integrations" id="integrations">
    <div class="container col-9">
        <div class="row d-flex no-gutters ">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="margin: 0px -10em;">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.placeit.net%2Fwp-content%2Fuploads%2F2015%2F05%2Fiphone-mockup.png&f=1&nofb=1" width="650">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12">
                        <div class="text-about">
                            <h4>Outlook and Google calender</h4>
                            <p>Bookomate will add meetings to your calender, look at other things you are doing and warn you about the conflict.</p>
                            <h4>Imessage and Whats app</h4>
                            <p>You have the option to auctomatly send text messages to friend about the time changes and meeting changes.</p>
                            <h4>Other calender and messaging apps</h4>
                            <p>We will continue to add more services to the list of approved one</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section Features" id="code">
    <div class="container col-9">
        <div class="row d-flex no-gutters ">
            <div class="col-md-6 col-lg-6 pl-md-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12">
                        <div class="text-about">
                            <h4>How It Started</h4>
                            <p>The project was first came about by Kalle Hallden. He tried to start a Open-Source Project to build a meeting
                                app. This project never took off. Then we started Bookomate after Kalle Bookomatic. 
                                Ever since we kept build on the idea of an open source meeting app.</p>
                            <h4>Our End Goal</h4>
                            <p>Are end goal is to create a fully functioning meeting app that is open source and free to all.</p>
                            <h4>Something Else</h4>
                            <p>Everyone is allowed to help build up this website to be the best. We do not track you, or mine your data.
                                We believe in privacy and security</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="margin: 0px -10em;">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fblog.placeit.net%2Fwp-content%2Fuploads%2F2015%2F05%2Fiphone-mockup.png&f=1&nofb=1" width="650">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>