{% load static %}

<!-- Landing page for user acquisition -->
<div class="container pt-5">
    <div class="jumbotron bg-white">
        <h2 class="display-4">Smart, cloud-based, and fast!</h2>
        <p class="lead">
            We aim at simplifying peer-to-peer calendar booking, with an intuitive design and lightning speed
            functionality. BookOMate is 100% open-source, provides encryption for your safety,
            and let's you get back to work quicker.
        </p>
    </div>
    <div id="about" class="section pt-5">
        <hr>
        <h2 class="display-4">About</h2>
        <p>something nice to say</p>
    </div>
    <div id="features" class="section pt-5" >
        <hr>
        <h2 class="display-4">Features</h2>
        <p>some cool diagram</p>
    </div>
    <div id="integrations" class="section pt-5 pb-5">
        <hr>
        <h2 class="display-4">Integrations</h2>
        <p>Another cool diagram</p>
    </div>
</div>