<!-- Navbar, authenticated-->
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://raw.githubusercontent.com/BrianRuizy/bookomate/master/bookomate/static/assets/logo/logo.png" width="150" alt="Logo">
    </a>

    <!-- mobile nav toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <a>help</a>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    <a class="dropdown-item" href="{% url 'account_reset_password' %}">reset password</a>
                </div>
            </div>
        </form>
    </div>
</nav>