/*
for debugging, uncomment
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

body {
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    color: #fff;
    overflow: hidden;
}

html,
body {
    width: 100%;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* --------------------------------- All --------------------------------- */

main {
    display: block;
    margin-top: 5em;
}

footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.smooth-scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.bg-black {
    background-color: #000000;
}

.text-black {
    color: #000000;
}

.section {
    float: left;
    width: 100%;
    position: relative;
    background: #fff;
    padding: 7em 0;
}

.navbar {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 10em !important;
}

.card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.103);
    overflow: hidden;
}

@media (max-width: 450px) {
    .navbar {
        padding: 0 1em !important;
    }
}

/* section call-to-action */
.section.call-to-action {
    padding: 10em 0 8em 0;
}


/* ----------------------------- login form --------------------------------- */

.brand-wrapper .logo {
    width: 20em;
}

.card.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
}

.login-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.login-card .card-body {
    padding: 85px 60px 60px;
}

@media (max-width: 422px) {
    .login-card .card-body {
        padding: 35px 24px;
    }
}

.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.login-card form {
    max-width: 400px;
}

.login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
}

.login-card .form-control::-webkit-input-placeholder {
    color: #919aa3;
}

.login-card .form-control::-moz-placeholder {
    color: #919aa3;
}

.login-card .form-control:-ms-input-placeholder {
    color: #919aa3;
}

.login-card .form-control::-ms-input-placeholder {
    color: #919aa3;
}

.login-card .form-control::placeholder {
    color: #919aa3;
}

.login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

.login-card .login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.login-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
}

.login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
}


/* animations */
/* ----------------------------------------------
 * Generated by Animista on 2020-6-17 22:2:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-bck-tl
 * ----------------------------------------
 */
.slide-in-bck-tl {
	-webkit-animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-tl 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-tl {
    0% {
        -webkit-transform: translateZ(700px) translateY(-300px) translateX(-400px);
                transform: translateZ(700px) translateY(-300px) translateX(-400px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
                transform: translateZ(0) translateY(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bck-tl {
    0% {
        -webkit-transform: translateZ(700px) translateY(-300px) translateX(-400px);
                transform: translateZ(700px) translateY(-300px) translateX(-400px);
        opacity: 0;
    }

    100% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
    opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-17 22:7:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  


/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */

 .slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  